@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');



// Set your brand colors
$it-blue: #4F7CB8;
$it-gold: #F7CC56;
$black: #000000;
$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Noto Sans", sans-serif;
$primary: $it-blue;
$link: $it-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;
$gap: 52px;

$tabs-toggle-link-active-background-color: hsl(0, 0%, 14%);
$tabs-toggle-link-radius: 0px;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;
$body-font-size: 1.2em;

@import "../bulma/bulma.sass";

.docs img.largeicon
    {
    width: 24px;
    padding-right: 2px;
    vertical-align: middle;
    }

.docs img.icon
    {
    width: 18px;
    height: 18px;
    padding-right: 2px;
    vertical-align: middle;
    }

.docs h1 { font-size: 1.8rem; }
.docs h2 { font-size: 1.2rem; }
.docs h3 { font-size: 1.0rem; }

.docs code
{
    color: black;
}

.docs pre 
{
    padding: 10px 0px 5px 0px;
    margin: 10px 0px 30px 0px;
}

.docs img.centered
    {
    margin-left: auto;
    margin-right: auto;
    display: block;
    }

.docs img.diagram
    {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    }

.docs .example_clicker
    {
    color: #336699;
    cursor: pointer;
    padding-left: 14px;
    padding-bottom: 10px;
    background-image: url('/img/link_arrow.png');
    background-repeat: no-repeat;
    background-position: 0% 25%;
    background-size: 12px;
    }

img.portrait
{
border: solid black 1px;
padding: 2px;
width: 100px;
}
